/* _____ style brand _____ */
.brand {
	background-color: #F9F9FF;
	.brand-inner {
		padding: 60px 65px;
		text-align: center;
	}
	img {
		filter: grayscale(100%);
		&:hover {
			filter: grayscale(0%)
		}
	}
}