/* _____ services _____ */
.services {
    background:
        linear-gradient(rgba(#000, 0.7), rgba(#000, 0.7)),
        url("../images/service-bg.jpg.webp") center center / cover no-repeat;
    padding: 100px 0;

    .services-items {
        padding: 50px 30px;
        @include vendor(webkit moz o, transition, 250ms linear);
        position: relative;
        color: #fff;
        cursor: pointer;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            @extend %overlay-green;
            @include vendor(webkit moz o, transition, 250ms linear);
            clip-path: circle(0% at 0 0);
            z-index: -1;
        }

        &:hover::before {
            clip-path: circle(160% at 0 0);
        }

        &:hover {
            box-shadow: -14.142px 14.142px 20px 0 rgba(157, 157, 157, 0.5);
        }

        h3 {
            margin-bottom: 20px;

            span {
                margin-right: 10px;
            }
        }
    }
}
